
/*Definição das fontes?*/
@font-face {
    font-family: "Unbounded";
    src: url(../fonts/Unbounded-Bold.ttf) /* Caminho para o arquivo da fonte */
    format("truetype"); /* Formato da fonte */
    font-weight: 700; /* Peso da fonte */
    font-style: normal; /* Estilo da fonte */
    font-display: swap; /* Garante que a fonte seja carregada rapidamente */
    
} 
@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Regular.ttf) 
    format("truetype"); 
    font-weight: 400; 
    font-style: normal; 
    font-display: swap; 
    
}
/*Reset*/
* {
    margin: 0;
    padding: 0;

}
header img {
    display: block;
    margin: 75px 0 0 360px;
    

}

/*Estilo Desktop*/
body {
    background-color: #0E1014;
    color: #FFFFFF;
}


h1 {
    font-size: 80px; /* Tamanho da fonte */
    font-family: "Unbounded", sans-serif; /* Fonte personalizada */
    text-align: center;
    margin-top: 60px;
}

h1 span {
    color: #9747FF;

}

p {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    text-align: center;
    width: 792px; /* Largura fixa */
    margin: 24px auto 0; /* Centraliza o parágrafo */

}

a {
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    text-decoration: none;
    background-color: #9747FF;
    width: 340px; /* Largura fixa */
    height: 66px; /* Altura fixa */
    display: block; /* Permite definir largura e altura */
    text-align: center;
    line-height: 66px; /* Centraliza verticalmente o texto */
    border-radius: 36px; /* Bordas arredondadas */
    margin: 40px auto; /* Centraliza o link */

   
}

a:hover {
    background-color: #8233E8;
   
}

section img {
    width: 792px;
    height: 446px;
    display: block;
    margin: 40px auto;

}

@media (max-width:768px){

    header img {
        margin: 65px 0 0 60px;
    }

    p {
        width: 648px;
    }
}

@media(max-width:375px){
    header img { margin: 32px 0 0 16px }

    h1 { font-size: 40px; }

    p {
        font-size: 20px;
        width:340pxf ;
    }

    a {
        font-size: 20px;
        width: 251px;
    }

    section img{
        width: 340px;
        height: 230px;
    }


}
